* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.container {
  background: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

body #custom-cursor {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('../images/hand1.png');
  background-size: cover;
  pointer-events: none;
  z-index: 100;
}

#start_btn {
  position: absolute;
  bottom: 12%;
  left: 43%;
  -webkit-text-stroke: 3.5px black;
  padding: 4px 30px;
  font-size: 3.8rem;
}
#sound_btn {
  border-radius: 100%;
  height: 90px;
  position: absolute;
}
.material-symbols-outlined {
  font-size: 52px;
  font-weight: bolder;
  -webkit-text-stroke: 0.2px black;
  margin: 15px;
}

.btn {
  font-family: "Knewave", cursive;
  margin: 10px;
  border: 4px solid black;
  border-radius: 45px;
  background: url("../images/wooden_bg.webp");
  color: white;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.btn:active {
  transform: scale(0.93);
}
#birds {
  position: absolute;
  top: 20%;
  left: 32%;
}
#title {
  position: absolute;
  top: 0;
  left: 23%;
}
#badpig1 {
  position: absolute;
  top: 23%;
  left: 15%;
  width: 8rem;
  rotate: -55deg;
}
#badpig2 {
  width: 10rem;
  rotate: 120deg;
  position: absolute;
  top: 63%;
  left: 65%;
}
#badpig3 {
  width: 8rem;
  rotate: -130deg;
  position: absolute;
  top: 75%;
  left: 18%;
}
#canvas {
  display: none;
}
#backbutton{
  display: none;
}
/* Level Screen CSS */

.level_container{
  display: none;
}
#backbutton{
  position: absolute;
  left: 7%;
}
.fa-solid{
  -webkit-text-stroke: 2px black;
  font-size: 52px;
  font-weight: bolder;
  margin: 15px 25px;
}

.level_container{
  height: 100%;
  width: 100%;
  z-index: -1;
}
#lvl_page_badpig{
  position: absolute;
  top: 63%;
  left: 65%;
  width: 24rem;
}
#lvl_page_birds{
  position: absolute;
  top: 63%;
  left: 10%;
  width: 27rem;
}
.fas{
  color: grey;
  font-size: 3rem;
  margin: 4px 0px;
}
.lvl_selection{
  margin-top: 15%;

}
.lvl{
  display: flex;
  justify-content: center;
  align-items: center;
}

#lvl1,#lvl2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

#lvl2 button,#lvl1 button{
  padding: 30px 50px;  
}
.h-primary{
  font-family: 'Knewave', cursive;
  margin: auto;
  font-size: 4rem;
  color: white;
  -webkit-text-stroke: 3px black;
  text-align: center;
}
/* For Ending Screen */

.ending_container {
  width: 100%;
  height: 100%;
  background: url("./images/gameover_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}

#playagain {
  position: absolute;
  bottom: 25%;
  left: 40%;
  font-size: 3rem;
  padding: 10px;
  -webkit-text-stroke: 3.5px black;
  width: 20%;
}
#homebtn {
  position: absolute;
  bottom: 10%;
  left: 40%;
  font-size: 3rem;
  padding: 10px;
  -webkit-text-stroke: 3.5px black;
  width: 20%;
}

.gameover h1 {
  font-size: 6rem;
  padding: 50px 0px 0px 20px;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars span {
  font-size: 10rem;
  color: rgb(156, 151, 151);
  /* Gold rgb(255,215,0) */
}