* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.container {
  background: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

body #custom-cursor {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('../images/hand1.png');
  background-size: cover;
  pointer-events: none;
  z-index: 100;
}

#start_btn {
  position: absolute;
  bottom: 12%;
  left: 43%;
  -webkit-text-stroke: 3.5px black;
  padding: 4px 30px;
  font-size: 3.8rem;
}
#sound_btn {
  border-radius: 100%;
  height: 90px;
  position: absolute;
}
.material-symbols-outlined {
  font-size: 52px;
  font-weight: bolder;
  -webkit-text-stroke: 0.2px black;
  margin: 15px;
}

.btn {
  font-family: "Knewave", cursive;
  margin: 10px;
  border: 4px solid black;
  border-radius: 45px;
  background: url("../images/wooden_bg.webp");
  color: white;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.btn:active {
  transform: scale(0.93);
}
#birds {
  position: absolute;
  top: 20%;
  left: 32%;
}
#title {
  position: absolute;
  top: 0;
  left: 23%;
}
#badpig1 {
  position: absolute;
  top: 23%;
  left: 15%;
  width: 8rem;
  rotate: -55deg;
}
#badpig2 {
  width: 10rem;
  rotate: 120deg;
  position: absolute;
  top: 63%;
  left: 65%;
}
#badpig3 {
  width: 8rem;
  rotate: -130deg;
  position: absolute;
  top: 75%;
  left: 18%;
}
#canvas {
  display: none;
}
